body{
    background: #7B24FC;
    color: #fff;
    font-size: 16px;
}
*{
    color: #fff;
}
h1{
    text-align: center;
    margin: 60px 0 42px 0;
}
input{
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    display: block;
    width: 99%;
    padding: 10px 0 8px 0;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 6px;
}
form{
    max-width: 700px;
    margin: auto;
    font-weight: bold;
    width: 85%;
}
label{
    display: flex;
    margin-bottom: 32px;
}
label div{
    flex-grow: 100;
}
label i{
    margin: auto 12px 0 0;
}
button{
    margin-left: 32px;
    flex-grow: 100;
}
#alert{
    width: 300px;
    background: #8bc34a;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 1;
    top: -48px;
}
input:focus{
    background: #e1f5fe;
    padding: 10px 10px 8px 10px;
    color: #000;
}

@media only screen and (max-width: 600px){
    h1{
        margin: 42px 0 32px 0;
    }
}