body{
    background: #4caf50;
    color: #fff;
    font-size: 16px;
}
*{
    color: #fff;
}
h1{
    text-align: center;
    margin: 60px 0 42px 0;
}
input{
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    display: block;
    width: 100%;
    padding: 9px 0 7px 0;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 10px;
}
form{
    max-width: 700px;
    margin: auto;
    font-weight: bold;
    width: 85%;
}
label{
    display: flex;
    margin-bottom: 32px;
}
label div{
    margin: 0 32px 0 12px;
    flex-grow: 100;
}
label i{
    margin-top: auto;
}
button{
    margin: 0 32px;
    flex-grow: 100;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.16);
    border-radius: 2px;
}
#alert{
    width: 300px;
    background: #8bc34a;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 1;
    top: -48px;
}
input:focus{
    background: rgba(255, 255, 255, 0.8);
    padding: 9px 10px 7px 10px;
    color: #000;
}

@media only screen and (max-width: 600px){
    h1{
        margin: 42px 0 32px 0;
    }
    label div{
        margin: 0 30px 0 6px;
    }
}