header{
    padding: 36px 16px 10px 16px;
    background: linear-gradient(#8bc34a , #4caf50);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
}
header *{
    color: #fff;
}
h1{
    margin: 0;
}
h3{
    margin-top: 8px;
}
.todoBox{
    background: #fff;
    margin: 16px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    padding: 24px;
}
.check{
    border: 1px solid #9e9e9e;
    padding: 1px;
    margin-right: 16px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    font-size: 12px !important;
}
.checked{
    background: #8bc34a;
    border-color: #8bc34a;
}
.actions{
    margin-left: auto;
    display: flex;
}
.marginlR{
    margin: 0 4px;
}
.todoBox .actions *{
    padding: 12px;
    color: #fff;
    border-radius: 24px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
}
.grey{
    background: #9e9e9e;
}
.red{
    background: #f44336;
}
.green{
    background: #8bc34a;
}
.addBtn{
    position: fixed;
    bottom: 16px;
    right: 16px;
    color: #fff;
    background: #4caf50;
    padding: 12px;
    border-radius: 32px;
    font-weight: bold;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
}
@media only screen and (max-width: 560px){
    header{
        padding: 16px 16px 6px 16px;
    }
    .todoBox{
        padding: 16px;
    }
    .todoBox .actions *{
        padding: 11px;
        font-size: 18px;
    }
}