nav{
    min-width: 240px;
    height: 100%;
    padding: 0 24px;
    background: #fff;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
nav h3{
    margin: 32px 0 24px 0;
    color: #000;
}
nav a{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    margin: 4px 0;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
}
nav i{
    margin-right: 16px;
    color: #8bc34a;
}
nav a.active{
    background: #e1f5fe;
    font-weight: bold;
}
nav a:hover{
    background: #e1f5fe;
}
.openNav{
    left: -288px;
    box-shadow: none;
}
#menu{
    position: fixed;
    right: 16px;
    top: 12px;
    cursor: pointer;
}
#menu span{
    width: 13px;
    display: block;
    height: 2px;
    background: #fff;
    margin: 3px 0;
    margin-left: auto;
}
#middleBor, .openNavMenu span{
    width: 18px !important;
}

@media only screen and (max-width: 1000px){
    nav{
        left: -288px;
        box-shadow: none;
    }
    .openNav{
        left: 0;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    }
    #menu span{
        width: 18px;
    }
    .openNavMenu span{
        width: 13px !important;
    }
}
@media only screen and (max-width: 600px){
    nav{
        min-width: 225px;
    }
    nav a{
        padding: 12px 0;
    }
}