.SelectOptions{
    min-height: 60px;
    position: absolute;
    width: 100%;
    background: #fff;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    color: #000;
}
.SelectMain{
    position: relative;
}
.SelectOptions div{
    padding: 8px;
    cursor: pointer;
}
.SelectOptions div:hover{
    background-color: rgba(225, 245, 254, 0.8);
}